In [1]:
# Import dependencies.
import pandas as pd
import numpy as np

In [2]:
# Urls for each city's data from S3 bucket.
url_nash = "https://project4gtbootcamp.s3.amazonaws.com/nashville.csv.gz"
url_nyc = "https://project4gtbootcamp.s3.amazonaws.com/nyc.csv.gz"
url_sd = "https://project4gtbootcamp.s3.amazonaws.com/sandiego.csv.gz"
url_sea = "https://project4gtbootcamp.s3.amazonaws.com/seattle.csv.gz"

In [3]:
# Nashville df
df_nash = pd.read_csv(url_nash, compression='gzip')
# NYC df
df_nyc = pd.read_csv(url_nyc, compression='gzip')
# San Diego df
df_sd = pd.read_csv(url_sd, compression='gzip')
# Seattle df
df_sea = pd.read_csv(url_sea, compression='gzip')

C:\Users\radov\AppData\Local\Temp\ipykernel_19840\1333899189.py:4: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nyc = pd.read_csv(url_nyc, compression='gzip')

In [4]:
df_sd.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [5]:
# Drop columns unnecessary for analysis or machine learning.
df_sd = df_sd.drop(columns=['listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'neighborhood_overview', 'picture_url', 'host_url', 'host_name', 
                    'host_since', 'host_location', 'host_about', 'host_response_time', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 
                    'host_listings_count', 'host_verifications', 'host_has_profile_pic', 'neighbourhood', 'neighbourhood_group_cleansed', 'property_type', 
                    'bathrooms', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                    'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'calendar_last_scraped', 
                    'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'calculated_host_listings_count', 
                    'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 
                    'reviews_per_month'])

In [6]:
df_sd.columns

Index(['id', 'description', 'host_id', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_identity_verified',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'room_type',
       'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities',
       'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable'],
      dtype='object')

# Amenities

In [7]:
# Delete unnecessary symbols in the 'amenities' column.
df_sd['amenities'] = df_sd['amenities'].str.replace('"', '')
df_sd['amenities'] = df_sd['amenities'].str.replace('[', '', regex=False)
df_sd['amenities'] = df_sd['amenities'].str.replace(']', '', regex=False)

In [8]:
# Split each row's amenities by ', ' and compile them into a list.
split_amenities = df_sd['amenities'].str.split(', ').to_list()

In [9]:
# Drop the old 'amenities' column.
df_sd = df_sd.drop(columns=['amenities'])

In [10]:
# Add the new 'amenities' column.
df_sd.insert(33, 'amenities', split_amenities)
df_sd.head(1)

,id,description,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,latitude,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,amenities
0,610920,Perfect for family vacations or a romantic get...,3028993,100%,98%,t,2.0,f,La Jolla,32.81244,...,4.93,4.93,4.64,4.79,5.0,5.0,4.71,NaN,f,"[Refrigerator, Iron, Security cameras on prope..."

In [11]:
# Check amenities of first row.
df_sd['amenities'][0]

['Refrigerator',
 'Iron',
 'Security cameras on property',
 'Stove',
 'Outdoor shower',
 'Piano',
 'BBQ grill',
 'Board games',
 'First aid kit',
 'Free washer \\u2013 In unit',
 'Carbon monoxide alarm',
 'Toaster',
 'Coffee',
 'Beach access',
 'Outdoor dining area',
 'Self check-in',
 'Dedicated workspace',
 'Private backyard \\u2013 Fully fenced',
 'Ceiling fan',
 'Smoke alarm',
 'Wine glasses',
 'Fire pit',
 'Barbecue utensils',
 'Courtyard view',
 'Ping pong table',
 'Extra pillows and blankets',
 'Beach essentials',
 'Hot water kettle',
 'Wifi',
 'Microwave',
 'Cleaning products',
 'Shampoo',
 'Dishwasher',
 'Blender',
 '42\\ HDTV with Roku',
 'Cooking basics',
 'Free street parking',
 'Free dryer \\u2013 In unit',
 'Hot water',
 'Indoor fireplace: gas',
 'wood-burning',
 'Hangers',
 'Freezer',
 'Private entrance',
 'Private patio or balcony',
 'Lockbox',
 'Conditioner',
 'Baking sheet',
 'Clothing storage',
 'Kitchen',
 'Ocean view',
 'Heating',
 'Dishes and silverware',
 'Hair dryer',
 'Garden view',
 'Laundromat nearby',
 'Bed linens',
 'Bikes',
 'Shower gel',
 'Babysitter recommendations',
 'Portable fans',
 'Coffee maker',
 'Body soap',
 'Essentials',
 'Oven',
 'Outdoor furniture',
 'Fire extinguisher',
 'Free parking on premises',
 'Bathtub',
 'Ethernet connection']

In [12]:
# Check amenities count of first row.
len(df_sd['amenities'][0])

70

In [13]:
# Loop through each row of 'amenities' and get their count.
amenities_count = []

for i in df_sd['amenities']:

    count = len(i)

    amenities_count.append(count)

In [14]:
# Add a new 'amenities_count' column.
df_sd['amenities_count'] = amenities_count

In [15]:
# Preview first row of df.
df_sd.head(1)

,id,description,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,latitude,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,amenities,amenities_count
0,610920,Perfect for family vacations or a romantic get...,3028993,100%,98%,t,2.0,f,La Jolla,32.81244,...,4.93,4.64,4.79,5.0,5.0,4.71,NaN,f,"[Refrigerator, Iron, Security cameras on prope...",70

In [16]:
# Categorize the amenities.
df_sd["amenities_cat"] = "moderate"
df_sd.loc[df_sd["amenities_count"] < 25, "amenities_cat"] = "basic"
df_sd.loc[df_sd["amenities_count"] > 50, "amenities_cat"] = "luxury"
df_sd.head(5)

,id,description,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,latitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,amenities,amenities_count,amenities_cat
0,610920,Perfect for family vacations or a romantic get...,3028993,100%,98%,t,2.0,f,La Jolla,32.81244,...,4.64,4.79,5.00,5.00,4.71,NaN,f,"[Refrigerator, Iron, Security cameras on prope...",70,luxury
1,6,"You read that right, this craftsman home was t...",29,100%,100%,f,1.0,t,North Hills,32.75522,...,4.71,4.99,4.97,4.77,4.80,STR-04545L,f,"[Iron, Security cameras on property, Board gam...",77,luxury
2,29967,"This 2 bedroom, 2 full bathroom home offers al...",129123,100%,75%,f,9.0,t,Pacific Beach,32.80751,...,4.56,4.91,4.91,4.81,4.76,NaN,f,"[Washer, Hair dryer, Iron, Smoke alarm, Dryer,...",20,basic
3,1166766,"<b>The space</b><br />Ultra luxury home, fully...",6388958,100%,100%,f,4.0,t,Bay Park,32.78337,...,4.21,4.54,4.54,4.83,4.42,STR-00048L,f,"[Washer, Refrigerator, Private hot tub, Iron, ...",38,moderate
4,1167130,Welcome to the largest home close to Downtown ...,6388958,100%,100%,f,4.0,t,Old Town,32.74569,...,4.56,4.92,4.83,4.79,4.58,STR-00538L,t,"[Washer, Refrigerator, Private hot tub, Iron, ...",49,moderate

In [17]:
# Check value counts for amenities categories.
df_sd['amenities_cat'].value_counts()

moderate    6952
luxury      3616
basic       2303
Name: amenities_cat, dtype: int64

# Bedrooms

In [18]:
# Check value counts for 'bedrooms'.
df_sd['bedrooms'].value_counts()

1.0     5358
2.0     3159
3.0     1925
4.0      825
5.0      315
6.0      107
7.0       40
8.0       19
10.0       6
9.0        6
12.0       5
11.0       4
28.0       2
17.0       1
34.0       1
20.0       1
Name: bedrooms, dtype: int64

In [19]:
# Check data type for 'bedrooms'.
df_sd['bedrooms'].dtypes

dtype('float64')

In [20]:
# Loop through each 'bedrooms' row and bin together instances of 6 or more bedrooms.
df_sd['bedrooms_cat'] = df_sd['bedrooms']

for i in df_sd['bedrooms_cat']:

    if i > 5:

        df_sd['bedrooms_cat'] = df_sd['bedrooms_cat'].replace(i, '6 or more')

In [21]:
# Check value counts for 'bedrooms'.
df_sd['bedrooms_cat'].value_counts()

1.0          5358
2.0          3159
3.0          1925
4.0           825
5.0           315
6 or more     192
Name: bedrooms_cat, dtype: int64

# Price

In [22]:
# Preview values in 'price' column.
df_sd['price'].head(5)

0      $725.00
1      $349.00
2      $225.00
3      $794.00
4    $1,250.00
Name: price, dtype: object

In [23]:
# Remove dollar signs and commas from 'price' values and convert them to a float data type.
df_sd['price'] = df_sd['price'].str.replace('$', '', regex=False).str.replace(',', '').astype(float)
df_sd['price'].head(5)

0     725.0
1     349.0
2     225.0
3     794.0
4    1250.0
Name: price, dtype: float64

# Host Response and Acceptance Rates

In [24]:
# Preview 'host_response_rate'.
df_sd['host_response_rate'].head(5)

0    100%
1    100%
2    100%
3    100%
4    100%
Name: host_response_rate, dtype: object

In [25]:
# Remove % symbols from values and convert to float data type.
df_sd['host_response_rate'] = df_sd['host_response_rate'].str.replace('%', '').astype(float)
df_sd['host_acceptance_rate'] = df_sd['host_acceptance_rate'].str.replace('%', '').astype(float)

In [26]:
# Check 'host_response_rate'.
df_sd['host_response_rate'].head(1)

0    100.0
Name: host_response_rate, dtype: float64

In [27]:
# Check 'host_acceptance_rate'.
df_sd['host_acceptance_rate'].head(1)

0    98.0
Name: host_acceptance_rate, dtype: float64

In [28]:
# Categorize response rates.
df_sd['response_cat'] = np.nan
df_sd.loc[df_sd['host_response_rate'] <= 100, 'response_cat'] = 'A'
df_sd.loc[df_sd['host_response_rate'] < 90, 'response_cat'] = 'B'
df_sd.loc[df_sd['host_response_rate'] < 80, 'response_cat'] = 'C or below'
df_sd.tail(10)

,id,description,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,latitude,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,amenities,amenities_count,amenities_cat,bedrooms_cat,response_cat
12861,853653678315646856,Experience California comfort at this charming...,468914943,100.0,100.0,f,573.0,f,La Jolla,32.843669,...,NaN,NaN,NaN,NaN,t,"[Iron, Paid parking on premises, First aid kit...",27,moderate,2.0,A
12862,849204214182962400,Your family will be close to everything when y...,65310636,89.0,100.0,f,2.0,f,Del Mar Heights,32.942031,...,NaN,NaN,NaN,NaN,t,"[Washer, Children\u2019s books and toys for ag...",74,luxury,3.0,B
12863,849219966203270170,*We're taking extra steps to ensure our space ...,5002314,100.0,100.0,t,47.0,t,South Park,32.724252,...,NaN,NaN,NaN,NaN,t,"[Washer, Refrigerator, Iron, Dryer, Stove, Sin...",48,moderate,2.0,A
12864,849272213202971264,"4 bedroom, 3 Min From Naval Base & DT San Dieg...",505835408,NaN,NaN,f,1.0,t,Memorial,32.697606,...,NaN,NaN,NaN,NaN,f,"[Washer, Smoke alarm, TV, Wifi, First aid kit,...",9,basic,4.0,NaN
12865,849353800050585475,"EXCITING NEW LISTING, NEW PHOTOS COMING SOON! ...",3017970,97.0,34.0,f,206.0,t,Mission Bay,32.763140,...,NaN,NaN,NaN,STR-00892L,f,"[Washer, Refrigerator, Iron, Dryer, Stove, BBQ...",49,moderate,2.0,A
12866,849362184011022361,Experience the best of coastal living when you...,126644161,100.0,99.0,f,1526.0,t,Del Mar Heights,32.934361,...,NaN,NaN,NaN,NaN,t,"[Washer, Iron, Dryer, Pack \u2019n play/Travel...",27,moderate,2.0,A
12867,849445746928877844,Come and enjoy your private pool and spa! Gre...,492305565,100.0,100.0,f,7.0,t,La Jolla,32.844483,...,NaN,NaN,NaN,NaN,t,"[Washer, Refrigerator, BBQ grill: gas, Iron, S...",72,luxury,5.0,A
12868,849469624782192682,This unique property is perfect for large fami...,108296074,100.0,50.0,f,2.0,t,La Jolla,32.825315,...,NaN,NaN,NaN,NaN,f,"[Washer, Refrigerator, Iron, Dryer, Security c...",53,luxury,5.0,A
12869,849558022932891841,HIGHLIGHTS<br />-Pet Friendly<br />-Centrally ...,499662709,100.0,100.0,f,31.0,t,Loma Portal,32.748687,...,NaN,NaN,NaN,NaN,t,"[Refrigerator, Iron, Clothing storage: closet ...",57,luxury,2.0,A
12870,849572277990758798,"Available as of October,2018This luxurious 2 b...",41102516,100.0,100.0,f,3.0,t,Balboa Park,32.728820,...,NaN,NaN,NaN,NaN,f,"[Washer, Elevator, Wifi]",3,basic,2.0,A

In [29]:
# Check NaN values in 'host_response_rate'.
df_sd['host_response_rate'].isna().sum()

1431

In [30]:
# Check to see if NaN value count in 'host_response_rate' is the same as in 'response_cat'.
df_sd['response_cat'].isna().sum()

1431

In [31]:
df_sd['response_cat'].value_counts()

A             10312
C or below      567
B               561
Name: response_cat, dtype: int64

In [32]:
# Categorize acceptance rates.
df_sd['acceptance_cat'] = np.nan
df_sd.loc[df_sd['host_acceptance_rate'] <= 100, 'acceptance_cat'] = 'A'
df_sd.loc[df_sd['host_acceptance_rate'] < 90, 'acceptance_cat'] = 'B'
df_sd.loc[df_sd['host_acceptance_rate'] < 80, 'acceptance_cat'] = 'C or below'

In [33]:
df_sd['acceptance_cat'].isna().sum()

919

In [34]:
df_sd['acceptance_cat'].value_counts()

A             9368
C or below    1743
B              841
Name: acceptance_cat, dtype: int64

# Superhost, Identity Verification, and Instant Bookability

In [35]:
df_sd['host_is_superhost'].value_counts()

f    7502
t    5362
Name: host_is_superhost, dtype: int64

In [36]:
df_sd['host_identity_verified'].value_counts()

t    11216
f     1652
Name: host_identity_verified, dtype: int64

In [72]:
df_nyc['host_identity_verified'].value_counts()

t    36675
f     6251
Name: host_identity_verified, dtype: int64

In [73]:
df_nash['host_identity_verified'].value_counts()

t    7333
f    1215
Name: host_identity_verified, dtype: int64

In [37]:
df_sd['instant_bookable'].value_counts()

f    8529
t    4342
Name: instant_bookable, dtype: int64

In [38]:
# Convert f to 0, t to 1 for all three columns.
#df_sd['host_is_superhost'] = df_sd['host_is_superhost'].str.replace('f', '0').str.replace('t', '1').astype(float)
#df_sd['host_identity_verified'] = df_sd['host_identity_verified'].str.replace('f', '0').str.replace('t', '1').astype(float)
#df_sd['instant_bookable'] = df_sd['instant_bookable'].str.replace('f', '0').str.replace('t', '1').astype(float)

In [39]:
# Check conversion.
#df_sd['host_is_superhost'].value_counts()

# License

In [40]:
df_sd['license'].isna().sum()

8396

In [41]:
df_sd['license'].value_counts()

Exempt        486
STR-04116L     10
STR-01956L      9
STR-02689L      8
STR-05270L      7
             ...
STR-00053L      1
STR-02071L      1
STR-06348L      1
STR-03106L      1
STR-00892L      1
Name: license, Length: 3461, dtype: int64

In [42]:
# Drop 'license' column from df because there are too many Nan values, and unknown whether the information is missing or whether those rentals don't have a license.
df_sd = df_sd.drop(columns=['license'])

In [43]:
# Preview df info so far.
df_sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12871 entries, 0 to 12870
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           12871 non-null  int64
 1   description                  12793 non-null  object
 2   host_id                      12871 non-null  int64
 3   host_response_rate           11440 non-null  float64
 4   host_acceptance_rate         11952 non-null  float64
 5   host_is_superhost            12864 non-null  object
 6   host_total_listings_count    12868 non-null  float64
 7   host_identity_verified       12868 non-null  object
 8   neighbourhood_cleansed       12871 non-null  object
 9   latitude                     12871 non-null  float64
 10  longitude                    12871 non-null  float64
 11  room_type                    12871 non-null  object
 12  accommodates                 12871 non-null  int64
 13  bathrooms_text               12866 non-null  object
 14  bedrooms                     11774 non-null  float64
 15  beds                         12707 non-null  float64
 16  price                        12871 non-null  float64
 17  minimum_nights               12871 non-null  int64
 18  maximum_nights               12871 non-null  int64
 19  availability_30              12871 non-null  int64
 20  availability_60              12871 non-null  int64
 21  availability_90              12871 non-null  int64
 22  availability_365             12871 non-null  int64
 23  number_of_reviews            12871 non-null  int64
 24  review_scores_rating         10957 non-null  float64
 25  review_scores_accuracy       10939 non-null  float64
 26  review_scores_cleanliness    10939 non-null  float64
 27  review_scores_checkin        10937 non-null  float64
 28  review_scores_communication  10939 non-null  float64
 29  review_scores_location       10937 non-null  float64
 30  review_scores_value          10937 non-null  float64
 31  instant_bookable             12871 non-null  object
 32  amenities                    12871 non-null  object
 33  amenities_count              12871 non-null  int64
 34  amenities_cat                12871 non-null  object
 35  bedrooms_cat                 11774 non-null  object
 36  response_cat                 11440 non-null  object
 37  acceptance_cat               11952 non-null  object
dtypes: float64(15), int64(11), object(12)
memory usage: 3.7+ MB

# Bathrooms

In [44]:
df_sd['bathrooms_text'].value_counts()

1 bath              6028
2 baths             2587
1 private bath       799
1 shared bath        748
3 baths              741
2.5 baths            623
1.5 baths            363
4 baths              208
3.5 baths            179
1.5 shared baths     131
5 baths               78
2 shared baths        74
4.5 baths             72
6 baths               32
5.5 baths             31
5 shared baths        29
0 shared baths        24
0 baths               17
6.5 baths             13
7 baths               13
2.5 shared baths      11
3 shared baths         9
8 baths                8
6.5 shared baths       8
8.5 baths              5
Half-bath              4
6 shared baths         4
4 shared baths         3
4.5 shared baths       3
8 shared baths         2
11 baths               2
10 baths               2
7.5 baths              2
9 baths                2
Shared half-bath       2
3.5 shared baths       1
33.5 baths             1
14 baths               1
9.5 baths              1
5.5 shared baths       1
27.5 baths             1
23 baths               1
12.5 baths             1
20 baths               1
Name: bathrooms_text, dtype: int64

In [45]:
# Remove all wording from bathroom information. Replace half bathrooms with 0.5.
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].str.replace('Shared half-bath', '0.5')
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].str.replace('Half-bath', '0.5')
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].str.replace('shared', '')
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].str.replace('baths', '')
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].str.replace('bath', '')
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].str.replace('private', '')

# Convert data type to float.
df_sd['bathrooms_text'] = df_sd['bathrooms_text'].astype(float)

In [46]:
df_sd['bathrooms_text'].value_counts()

1.0     7575
2.0     2661
3.0      750
2.5      634
1.5      494
4.0      211
3.5      180
5.0      107
4.5       75
0.0       41
6.0       36
5.5       32
6.5       21
7.0       13
8.0       10
0.5        6
8.5        5
7.5        2
11.0       2
10.0       2
9.0        2
14.0       1
33.5       1
9.5        1
27.5       1
23.0       1
12.5       1
20.0       1
Name: bathrooms_text, dtype: int64

In [47]:
# Loop through each bathrooms row and bin them together accordingly.
df_sd['bathrooms_cat'] = df_sd['bathrooms_text']

for i in df_sd['bathrooms_cat']:

    if i == 0:
        df_sd['bathrooms_cat'] = df_sd['bathrooms_cat'].replace(i, '0')

    elif 0 < i <= 1:
        df_sd['bathrooms_cat'] = df_sd['bathrooms_cat'].replace(i, '1')

    elif 1 < i <= 2:
        df_sd['bathrooms_cat'] = df_sd['bathrooms_cat'].replace(i, '2')

    elif 2 < i <= 3:
        df_sd['bathrooms_cat'] = df_sd['bathrooms_cat'].replace(i, '3')

    else:
        df_sd['bathrooms_cat'] = df_sd['bathrooms_cat'].replace(i, '4 or more')

In [48]:
df_sd['bathrooms_cat'].value_counts()

1            7581
2            3155
3            1384
4 or more     710
0              41
Name: bathrooms_cat, dtype: int64

# Min Nights

In [49]:
df_sd['minimum_nights'].value_counts().head(10)

2     3761
1     3117
3     2570
30     908
4      577
31     560
7      338
5      314
28     125
14     102
Name: minimum_nights, dtype: int64

In [69]:
df_nash['minimum_nights'].value_counts().head(10)

2     3612
1     2812
30     916
3      858
31     106
4       47
5       36
28      33
7       24
90      18
Name: minimum_nights, dtype: int64

In [70]:
df_nyc['minimum_nights'].value_counts().head(10)

30    18235
1      7946
2      5524
3      3814
5      1499
4      1422
7       922
31      786
90      472
6       370
Name: minimum_nights, dtype: int64

In [71]:
df_sea['minimum_nights'].value_counts().head(10)

2     1746
30    1553
1     1427
3      689
31     426
5      102
4       99
7       84
10      58
6       41
Name: minimum_nights, dtype: int64

In [50]:
# Loop through each row and bin them together accordingly.
df_sd['min_cat'] = df_sd['minimum_nights']

for i in df_sd['min_cat']:

    if 3 < i <= 7:
        df_sd['min_cat'] = df_sd['min_cat'].replace(i, '4-7')

    elif 7 < i <= 14:
        df_sd['min_cat'] = df_sd['min_cat'].replace(i, '8-14')

    elif 14 < i <= 31:
        df_sd['min_cat'] = df_sd['min_cat'].replace(i, '15-31')

    elif 31 < i:
        df_sd['min_cat'] = df_sd['min_cat'].replace(i, 'More than a month')

In [51]:
df_sd['min_cat'].value_counts()

2                    3761
1                    3117
3                    2570
15-31                1753
4-7                  1296
More than a month     195
8-14                  179
Name: min_cat, dtype: int64

# Max Nights

In [52]:
df_sd['maximum_nights'].value_counts().head(20)

1125    3890
365     3586
28       884
30       600
90       505
29       298
14       282
60       270
7        267
180      257
31       141
21       134
120      113
10       107
15        95
27        83
999       83
45        80
5         77
4         62
Name: maximum_nights, dtype: int64

# Beginning of Jupyter Notebook

In [68]:
import hvplot.pandas
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.decomposition import PCA

In [54]:
df_sd.columns

Index(['id', 'description', 'host_id', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_identity_verified',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'room_type',
       'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'amenities',
       'amenities_count', 'amenities_cat', 'bedrooms_cat', 'response_cat',
       'acceptance_cat', 'bathrooms_cat', 'min_cat'],
      dtype='object')

In [55]:
# Drop all columns not necessary for ML.
ml_df_sd = df_sd.drop(columns=['id', 'description', 'host_id', 'host_response_rate', 'host_acceptance_rate', 
                               'host_total_listings_count', 'latitude', 'longitude', 'bathrooms_text', 
                               'bedrooms', 'minimum_nights', 'maximum_nights', 'availability_30', 
                               'availability_90', 'availability_365', 'amenities', 'amenities_count', 
                               'response_cat', 'acceptance_cat'])

In [56]:
ml_df_sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12871 entries, 0 to 12870
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   host_is_superhost            12864 non-null  object
 1   host_identity_verified       12868 non-null  object
 2   neighbourhood_cleansed       12871 non-null  object
 3   room_type                    12871 non-null  object
 4   accommodates                 12871 non-null  int64
 5   beds                         12707 non-null  float64
 6   price                        12871 non-null  float64
 7   availability_60              12871 non-null  int64
 8   number_of_reviews            12871 non-null  int64
 9   review_scores_rating         10957 non-null  float64
 10  review_scores_accuracy       10939 non-null  float64
 11  review_scores_cleanliness    10939 non-null  float64
 12  review_scores_checkin        10937 non-null  float64
 13  review_scores_communication  10939 non-null  float64
 14  review_scores_location       10937 non-null  float64
 15  review_scores_value          10937 non-null  float64
 16  instant_bookable             12871 non-null  object
 17  amenities_cat                12871 non-null  object
 18  bedrooms_cat                 11774 non-null  object
 19  bathrooms_cat                12871 non-null  object
 20  min_cat                      12871 non-null  object
dtypes: float64(9), int64(3), object(9)
memory usage: 2.1+ MB

In [57]:
# Create revenue column for 60 days out.
ml_df_sd["revenue"] = (60 - ml_df_sd['availability_60']) * ml_df_sd['price']

# Create revenue per bed column for 60 days out.
ml_df_sd['revenue_per_bed'] = ml_df_sd['revenue'] / ml_df_sd['beds']

ml_df_sd.head(1)

,host_is_superhost,host_identity_verified,neighbourhood_cleansed,room_type,accommodates,beds,price,availability_60,number_of_reviews,review_scores_rating,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,amenities_cat,bedrooms_cat,bathrooms_cat,min_cat,revenue,revenue_per_bed
0,t,f,La Jolla,Entire home/apt,4,3.0,725.0,58,15,4.93,...,5.0,5.0,4.71,f,luxury,3.0,2,3,1450.0,483.333333

In [58]:
# Categorical data
cat_columns = ml_df_sd.dtypes[ml_df_sd.dtypes=='object'].index.tolist()

cat_dummies = pd.get_dummies(ml_df_sd[cat_columns])

cat_dummies

,host_is_superhost_f,host_is_superhost_t,host_identity_verified_f,host_identity_verified_t,neighbourhood_cleansed_Allied Gardens,neighbourhood_cleansed_Alta Vista,neighbourhood_cleansed_Amphitheater And Water Park,neighbourhood_cleansed_Balboa Park,neighbourhood_cleansed_Bario Logan,neighbourhood_cleansed_Bay Ho,...,bathrooms_cat_2,bathrooms_cat_3,bathrooms_cat_4 or more,min_cat_1,min_cat_2,min_cat_3,min_cat_15-31,min_cat_4-7,min_cat_8-14,min_cat_More than a month
0,0,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12866,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
12867,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
12868,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
12869,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12870,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [60]:
# Create a OneHotEncoder instance.
#ohe = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list.
#encode_df = pd.DataFrame(ohe.fit_transform(ml_df_sd[cat_columns]))

# Add the encoded variable names to the dataframe.
#encode_df.columns = ohe.get_feature_names(cat_columns)

#encode_df

In [65]:
# Numeric data
num_columns = ml_df_sd.dtypes[ml_df_sd.dtypes!='object'].index.tolist()

# Create a StandardScaler instance.
scaler = StandardScaler()

# Fit and transform the numeric data.
scaled_df = pd.DataFrame(scaler.fit_transform(ml_df_sd[num_columns]), columns=num_columns)

In [66]:
scaled_df

,accommodates,beds,price,availability_60,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,revenue,revenue_per_bed
0,-0.277255,0.111882,0.420623,1.342291,-0.448604,0.441107,0.383181,-0.348486,-0.212646,0.457131,0.578468,0.050831,-0.136019,-0.065479
1,0.343632,0.111882,0.039901,-1.417577,1.021752,0.137394,0.058593,-0.150158,0.413361,0.367104,-0.196022,0.291668,0.215448,0.054597
2,0.343632,0.111882,-0.085656,-1.417577,0.371812,0.036157,-0.118456,-0.575147,0.162958,0.187048,-0.061328,0.184629,0.081281,0.008760
3,2.827181,1.348134,0.490490,-0.751402,-0.342057,-0.647198,-0.767633,-1.566787,-0.995156,-0.923294,0.006019,-0.725202,0.496478,0.038098
4,2.206294,1.760218,0.952216,0.057525,-0.331402,-0.090390,-0.384028,-0.575147,0.194259,-0.053026,-0.128675,-0.297046,0.491537,0.021302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12866,0.343632,0.111882,-0.108945,-0.323146,-0.608425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.027387,-0.028366
12867,2.206294,2.584386,0.444924,1.009204,-0.608425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.040605,-0.060569
12868,2.827181,1.760218,0.046989,0.438197,-0.608425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.027351,-0.054673
12869,-0.277255,-0.300202,-0.025915,-0.323146,-0.608425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027326,0.022696
12870,-1.208586,NaN,-0.187924,1.437459,-0.608425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.162167,NaN

In [67]:
ml_60 = scaled_df.merge(cat_dummies, left_index=True, right_index=True)
ml_60

,accommodates,beds,price,availability_60,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,...,bathrooms_cat_2,bathrooms_cat_3,bathrooms_cat_4 or more,min_cat_1,min_cat_2,min_cat_3,min_cat_15-31,min_cat_4-7,min_cat_8-14,min_cat_More than a month
0,-0.277255,0.111882,0.420623,1.342291,-0.448604,0.441107,0.383181,-0.348486,-0.212646,0.457131,...,1,0,0,0,0,1,0,0,0,0
1,0.343632,0.111882,0.039901,-1.417577,1.021752,0.137394,0.058593,-0.150158,0.413361,0.367104,...,1,0,0,0,0,0,0,0,1,0
2,0.343632,0.111882,-0.085656,-1.417577,0.371812,0.036157,-0.118456,-0.575147,0.162958,0.187048,...,1,0,0,0,0,0,0,1,0,0
3,2.827181,1.348134,0.490490,-0.751402,-0.342057,-0.647198,-0.767633,-1.566787,-0.995156,-0.923294,...,0,0,1,0,0,1,0,0,0,0
4,2.206294,1.760218,0.952216,0.057525,-0.331402,-0.090390,-0.384028,-0.575147,0.194259,-0.053026,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12866,0.343632,0.111882,-0.108945,-0.323146,-0.608425,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,1,0,0,0,0,0
12867,2.206294,2.584386,0.444924,1.009204,-0.608425,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,0,0,0,0
12868,2.827181,1.760218,0.046989,0.438197,-0.608425,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,0,0,0,0
12869,-0.277255,-0.300202,-0.025915,-0.323146,-0.608425,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
12870,-1.208586,NaN,-0.187924,1.437459,-0.608425,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0