In [1]:
# Import dependencies.
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, mean_squared_error, r2_score
import tensorflow as tf

In [2]:
df_ml_all = pd.read_csv('saved_csvs/df_ml_all.csv')

In [3]:
df_ml_all

,host_since,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,revenue_365,revenue_pp_365,amenities_count
0,2009-04-03,100.0,0.0,0.0,1.0,1.0,District 6,Private room,1,1.0,...,4.94,4.96,4.97,4.96,4.92,4.98,0.0,2408.0,2408.000000,54
1,2010-07-18,100.0,92.0,1.0,3.0,1.0,District 18,Private room,2,1.0,...,4.96,4.95,4.99,4.97,4.95,4.94,0.0,13370.0,6685.000000,23
2,2011-08-06,100.0,100.0,1.0,1.0,1.0,District 25,Entire home/apt,4,1.0,...,4.95,4.91,4.97,4.97,4.94,4.93,0.0,52195.0,13048.750000,39
3,2010-07-21,100.0,100.0,1.0,1.0,1.0,District 18,Entire home/apt,4,1.0,...,4.90,4.81,4.98,4.99,4.96,4.89,0.0,26900.0,6725.000000,27
4,2012-02-01,98.0,99.0,1.0,7.0,1.0,District 19,Entire home/apt,2,1.0,...,4.97,4.98,4.97,4.96,4.80,4.93,0.0,92394.0,46197.000000,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70014,2011-09-27,100.0,77.0,0.0,3.0,1.0,North Delridge,Entire home/apt,3,1.0,...,4.94,4.75,4.98,4.95,4.80,4.92,0.0,18105.0,6035.000000,57
70015,2013-09-30,NaN,50.0,0.0,2.0,1.0,Bryant,Private room,2,1.0,...,4.93,4.83,4.87,4.93,4.85,4.72,0.0,0.0,0.000000,46
70016,2012-07-27,98.0,94.0,0.0,179.0,1.0,University District,Entire home/apt,2,1.0,...,4.59,4.48,4.49,4.61,4.47,4.27,0.0,0.0,0.000000,44
70017,2013-08-08,100.0,0.0,0.0,2.0,1.0,University District,Entire home/apt,6,1.0,...,4.41,4.12,4.55,4.56,4.65,4.30,0.0,5060.0,843.333333,11
70018,2013-08-22,100.0,99.0,1.0,10.0,1.0,Broadway,Private room,2,1.5,...,4.89,4.84,4.89,4.85,4.89,4.76,0.0,26544.0,13272.000000,51

In [4]:
# Drop all rows with NaN values for ML purposes.
df_ml_all = df_ml_all.dropna()

df_ml_all

,host_since,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,revenue_365,revenue_pp_365,amenities_count
0,2009-04-03,100.0,0.0,0.0,1.0,1.0,District 6,Private room,1,1.0,...,4.94,4.96,4.97,4.96,4.92,4.98,0.0,2408.0,2408.000000,54
1,2010-07-18,100.0,92.0,1.0,3.0,1.0,District 18,Private room,2,1.0,...,4.96,4.95,4.99,4.97,4.95,4.94,0.0,13370.0,6685.000000,23
2,2011-08-06,100.0,100.0,1.0,1.0,1.0,District 25,Entire home/apt,4,1.0,...,4.95,4.91,4.97,4.97,4.94,4.93,0.0,52195.0,13048.750000,39
3,2010-07-21,100.0,100.0,1.0,1.0,1.0,District 18,Entire home/apt,4,1.0,...,4.90,4.81,4.98,4.99,4.96,4.89,0.0,26900.0,6725.000000,27
4,2012-02-01,98.0,99.0,1.0,7.0,1.0,District 19,Entire home/apt,2,1.0,...,4.97,4.98,4.97,4.96,4.80,4.93,0.0,92394.0,46197.000000,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70012,2013-09-20,80.0,100.0,0.0,5.0,1.0,West Queen Anne,Entire home/apt,6,2.0,...,4.80,5.00,5.00,5.00,5.00,4.60,1.0,2310.0,385.000000,25
70014,2011-09-27,100.0,77.0,0.0,3.0,1.0,North Delridge,Entire home/apt,3,1.0,...,4.94,4.75,4.98,4.95,4.80,4.92,0.0,18105.0,6035.000000,57
70016,2012-07-27,98.0,94.0,0.0,179.0,1.0,University District,Entire home/apt,2,1.0,...,4.59,4.48,4.49,4.61,4.47,4.27,0.0,0.0,0.000000,44
70017,2013-08-08,100.0,0.0,0.0,2.0,1.0,University District,Entire home/apt,6,1.0,...,4.41,4.12,4.55,4.56,4.65,4.30,0.0,5060.0,843.333333,11
70018,2013-08-22,100.0,99.0,1.0,10.0,1.0,Broadway,Private room,2,1.5,...,4.89,4.84,4.89,4.85,4.89,4.76,0.0,26544.0,13272.000000,51

# Random Forest Classifier

In [5]:
# Calculate the quartiles for 'price'.
quartiles = df_ml_all['price'].quantile([.25, .5, .75])
lowerq = quartiles[0.25]
mean = quartiles[0.5]
upperq = quartiles[0.75]
iqr = upperq - lowerq 
lower_bound = lowerq - (1.5 * iqr)
upper_bound = upperq + (1.5 * iqr)

In [6]:
# Loop through each row and bin them together accordingly.
df_ml_all['price_binary'] = df_ml_all['price']

for i in df_ml_all['price_binary']:
    
    if i > mean:
        df_ml_all['price_binary'] = df_ml_all['price_binary'].replace(i, 1)
        
    else:
        df_ml_all['price_binary'] = df_ml_all['price_binary'].replace(i, 0)

C:\Users\radov\AppData\Local\Temp\ipykernel_14600\3205926442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_all['price_binary'] = df_ml_all['price']
C:\Users\radov\AppData\Local\Temp\ipykernel_14600\3205926442.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_all['price_binary'] = df_ml_all['price_binary'].replace(i, 0)
C:\Users\radov\AppData\Local\Temp\ipykernel_14600\3205926442.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_all['price_binary'] = df_ml_all['price_binary'].replace(i, 1)

In [7]:
df_ml_all['price_binary'].value_counts()

price_binary
0.0    19509
1.0    19452
Name: count, dtype: int64

In [8]:
df_ml_all.columns

Index(['host_since', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood_cleansed', 'room_type',
       'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities',
       'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'revenue_365',
       'revenue_pp_365', 'amenities_count', 'price_binary'],
      dtype='object')

In [9]:
X = df_ml_all.drop(columns=['host_since', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'revenue_365',
       'revenue_pp_365', 'price_binary', 'amenities', 'neighbourhood_cleansed', 'room_type'])

y = df_ml_all['price_binary']

In [10]:
X.columns

Index(['host_is_superhost', 'host_identity_verified', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'amenities_count'],
      dtype='object')

In [11]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Creating StandardScaler instance.
scaler = StandardScaler()

# Fitting StandardScaler.
X_scaler = scaler.fit(X_train)

# Scaling data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [13]:
# Calculating the confusion matrix.
matrix = confusion_matrix(y_test, predictions)
matrix_df = pd.DataFrame(
    matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

# Displaying results.
print("Confusion Matrix")
display(matrix_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3876          961
Actual 1         1083         3821

Accuracy Score : 0.7901652807719947
Classification Report
              precision    recall  f1-score   support

         0.0       0.78      0.80      0.79      4837
         1.0       0.80      0.78      0.79      4904

    accuracy                           0.79      9741
   macro avg       0.79      0.79      0.79      9741
weighted avg       0.79      0.79      0.79      9741

In [14]:
# Calculate feature importance.
importances = rf_model.feature_importances_

# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.16235195442835923, 'accommodates'),
 (0.10674489558443544, 'amenities_count'),
 (0.10079084829462963, 'bedrooms'),
 (0.08087787441787549, 'beds'),
 (0.07791983327100714, 'review_scores_location'),
 (0.07696611412572639, 'number_of_reviews'),
 (0.06390567025794801, 'review_scores_value'),
 (0.05495483180767522, 'bathrooms_text'),
 (0.05415661478036707, 'review_scores_cleanliness'),
 (0.05050957201942022, 'review_scores_rating'),
 (0.04722376800708776, 'review_scores_accuracy'),
 (0.045221228417856, 'review_scores_checkin'),
 (0.04124234580026706, 'review_scores_communication'),
 (0.01455311646163961, 'instant_bookable'),
 (0.012604318147447346, 'host_is_superhost'),
 (0.009977014178258322, 'host_identity_verified')]

In [15]:
# Calculate the quartiles for 'price'.
quartiles = df_ml_all['revenue_pp_365'].quantile([.25, .5, .75])
lowerq = quartiles[0.25]
mean = quartiles[0.5]
upperq = quartiles[0.75]
iqr = upperq - lowerq 
lower_bound = lowerq - (1.5 * iqr)
upper_bound = upperq + (1.5 * iqr)

In [16]:
# Loop through each row and bin them together accordingly.
df_ml_all['revenue_pp_365_binary'] = df_ml_all['revenue_pp_365']

for i in df_ml_all['revenue_pp_365_binary']:
    
    if i > mean:
        df_ml_all['revenue_pp_365_binary'] = df_ml_all['revenue_pp_365_binary'].replace(i, 1)
        
    else:
        df_ml_all['revenue_pp_365_binary'] = df_ml_all['revenue_pp_365_binary'].replace(i, 0)

C:\Users\radov\AppData\Local\Temp\ipykernel_14600\88915059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_all['revenue_pp_365_binary'] = df_ml_all['revenue_pp_365']
C:\Users\radov\AppData\Local\Temp\ipykernel_14600\88915059.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_all['revenue_pp_365_binary'] = df_ml_all['revenue_pp_365_binary'].replace(i, 0)
C:\Users\radov\AppData\Local\Temp\ipykernel_14600\88915059.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_all['revenue_pp_365_binary'] = df_ml_all['revenue_pp_365_binary'].replace(i, 1)

In [17]:
df_ml_all['revenue_pp_365_binary'].value_counts()

revenue_pp_365_binary
0.0    19481
1.0    19480
Name: count, dtype: int64

In [18]:
X = df_ml_all.drop(columns=['host_since', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'revenue_365',
       'revenue_pp_365', 'price_binary', 'amenities', 'neighbourhood_cleansed', 'room_type', 'price_binary', 'revenue_pp_365_binary'])

y = df_ml_all['revenue_pp_365_binary']

In [19]:
X.columns

Index(['host_is_superhost', 'host_identity_verified', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'amenities_count'],
      dtype='object')

In [20]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Creating StandardScaler instance.
scaler = StandardScaler()

# Fitting StandardScaler.
X_scaler = scaler.fit(X_train)

# Scaling data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [22]:
# Calculating the confusion matrix.
matrix = confusion_matrix(y_test, predictions)
matrix_df = pd.DataFrame(
    matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

# Displaying results.
print("Confusion Matrix")
display(matrix_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3145         1674
Actual 1         1805         3117

Accuracy Score : 0.6428498100811005
Classification Report
              precision    recall  f1-score   support

         0.0       0.64      0.65      0.64      4819
         1.0       0.65      0.63      0.64      4922

    accuracy                           0.64      9741
   macro avg       0.64      0.64      0.64      9741
weighted avg       0.64      0.64      0.64      9741

In [23]:
# Calculate feature importance.
importances = rf_model.feature_importances_

# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.14591994910602032, 'amenities_count'),
 (0.10625251264143484, 'number_of_reviews'),
 (0.0888320182815062, 'review_scores_location'),
 (0.08501166159110198, 'review_scores_value'),
 (0.07913909363778801, 'review_scores_cleanliness'),
 (0.07390230545830151, 'review_scores_rating'),
 (0.07039074255252564, 'accommodates'),
 (0.0697926634296432, 'review_scores_accuracy'),
 (0.06490378080072316, 'review_scores_checkin'),
 (0.06341130917373379, 'review_scores_communication'),
 (0.04115827650228873, 'beds'),
 (0.03387255734358796, 'bathrooms_text'),
 (0.02444629332941774, 'bedrooms'),
 (0.0199794174862483, 'instant_bookable'),
 (0.018698410579175803, 'host_is_superhost'),
 (0.01428900808650279, 'host_identity_verified')]

# Random Forest Regressor

In [24]:
# Define features and target sets.
X = df_ml_all.drop(columns=['host_since', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'revenue_365',
       'revenue_pp_365', 'price_binary', 'amenities', 'neighbourhood_cleansed', 'room_type', 'price_binary', 'revenue_pp_365_binary'])

y = df_ml_all['price'].ravel()

In [25]:
X.columns

Index(['host_is_superhost', 'host_identity_verified', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'amenities_count'],
      dtype='object')

In [26]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Creating StandardScaler instance.
scaler = StandardScaler()

# Fitting StandardScaler.
X_scaler = scaler.fit(X_train)

# Scaling data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
regressor = RandomForestRegressor(n_estimators = 500, random_state = 0)
regressor.fit(X_train_scaled, y_train)
#predict the model
prediction = regressor.predict(X_test_scaled)

In [28]:
# print the metrics
print("MSE:", mean_squared_error(y_test, prediction, squared=False))

print("R2:", r2_score(y_test, prediction))

MSE: 116.18571750841105
R2: 0.5323659252903801

In [29]:
# Calculate feature importance.
importances = regressor.feature_importances_

# Sort the features by their importance.
sorted(zip(regressor.feature_importances_, X.columns), reverse=True)

[(0.2240168568871205, 'bedrooms'),
 (0.18347525025229552, 'accommodates'),
 (0.11060748974992067, 'bathrooms_text'),
 (0.09113218027994145, 'amenities_count'),
 (0.0669853676536806, 'review_scores_location'),
 (0.05451817483284924, 'number_of_reviews'),
 (0.05265026333051844, 'review_scores_value'),
 (0.0382379368035729, 'review_scores_cleanliness'),
 (0.03271472124191002, 'review_scores_rating'),
 (0.030815003951529425, 'review_scores_accuracy'),
 (0.029936767557550283, 'review_scores_checkin'),
 (0.029208142549941984, 'beds'),
 (0.026387736331371515, 'review_scores_communication'),
 (0.011766072726322397, 'instant_bookable'),
 (0.010206410839935813, 'host_is_superhost'),
 (0.007341625011539294, 'host_identity_verified')]

In [30]:
# Define features and target sets.
X = df_ml_all.drop(columns=['host_since', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'revenue_365',
       'revenue_pp_365', 'price_binary', 'amenities', 'neighbourhood_cleansed', 'room_type', 'price_binary', 'revenue_pp_365_binary'])

y = df_ml_all['revenue_pp_365'].ravel()

In [31]:
X.columns

Index(['host_is_superhost', 'host_identity_verified', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'amenities_count'],
      dtype='object')

In [32]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Creating StandardScaler instance.
scaler = StandardScaler()

# Fitting StandardScaler.
X_scaler = scaler.fit(X_train)

# Scaling data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
regressor = RandomForestRegressor(n_estimators = 500, random_state = 0)
regressor.fit(X_train_scaled, y_train)
#predict the model
prediction = regressor.predict(X_test_scaled)

In [34]:
# print the metrics
print("MSE:", mean_squared_error(y_test, prediction, squared=False))

print("R2:", r2_score(y_test, prediction))

MSE: 9516.067772287184
R2: 0.10408515370723337

In [35]:
# Calculate feature importance.
importances = regressor.feature_importances_

# Sort the features by their importance.
sorted(zip(regressor.feature_importances_, X.columns), reverse=True)

[(0.17932720080556933, 'amenities_count'),
 (0.10874310568379508, 'number_of_reviews'),
 (0.09804147921888946, 'review_scores_location'),
 (0.0882594262686216, 'review_scores_value'),
 (0.08787860964285063, 'accommodates'),
 (0.07258976629633779, 'review_scores_cleanliness'),
 (0.062180466168736265, 'review_scores_accuracy'),
 (0.0615583668837316, 'review_scores_rating'),
 (0.05744168768165077, 'review_scores_checkin'),
 (0.04810166911333542, 'review_scores_communication'),
 (0.03209570493287687, 'bathrooms_text'),
 (0.025918242530917443, 'instant_bookable'),
 (0.02503340268188929, 'beds'),
 (0.019569106212498688, 'bedrooms'),
 (0.019214127030747784, 'host_is_superhost'),
 (0.014047638847552063, 'host_identity_verified')]

# Inclusive Features

In [36]:
# Define features and target sets.
X = df_ml_all.drop(columns=['host_since', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'revenue_365',
       'revenue_pp_365', 'price_binary', 'amenities', 'neighbourhood_cleansed', 'room_type', 'price_binary', 'revenue_pp_365_binary'])

y = df_ml_all['availability_365'].ravel()

In [37]:
X.columns

Index(['host_is_superhost', 'host_identity_verified', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'amenities_count'],
      dtype='object')

In [38]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Creating StandardScaler instance.
scaler = StandardScaler()

# Fitting StandardScaler.
X_scaler = scaler.fit(X_train)

# Scaling data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
regressor = RandomForestRegressor(n_estimators = 500, random_state = 0)
regressor.fit(X_train_scaled, y_train)
#predict the model
prediction = regressor.predict(X_test_scaled)

In [40]:
# print the metrics
print("MSE:", mean_squared_error(y_test, prediction, squared=False))

print("R2:", r2_score(y_test, prediction))

MSE: 118.72716515152815
R2: 0.08032772397896759

In [41]:
# Calculate feature importance.
importances = regressor.feature_importances_

# Sort the features by their importance.
sorted(zip(regressor.feature_importances_, X.columns), reverse=True)

[(0.15919195544763803, 'amenities_count'),
 (0.1113745747248682, 'number_of_reviews'),
 (0.08802113904347601, 'review_scores_value'),
 (0.08297823508042511, 'review_scores_location'),
 (0.08134991985738897, 'review_scores_cleanliness'),
 (0.06756890257052998, 'review_scores_rating'),
 (0.06678567362977797, 'review_scores_accuracy'),
 (0.06558881527370841, 'accommodates'),
 (0.0650115728522652, 'review_scores_checkin'),
 (0.06068428836405629, 'review_scores_communication'),
 (0.036547703558849225, 'beds'),
 (0.034363365396203445, 'bathrooms_text'),
 (0.024388751811976212, 'instant_bookable'),
 (0.02243575904123618, 'bedrooms'),
 (0.020034885279908238, 'host_is_superhost'),
 (0.013674458067692491, 'host_identity_verified')]

# Reviews Exclusive Features

In [42]:
# Define features and target sets.
X = df_ml_all.drop(columns=['host_since', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'revenue_365',
       'revenue_pp_365', 'price_binary', 'amenities', 'neighbourhood_cleansed', 'room_type', 'price_binary', 'revenue_pp_365_binary', 'amenities_count', 'accommodates', 'beds', 'bathrooms_text', 'instant_bookable', 'bedrooms', 'host_is_superhost', 'host_identity_verified'])

y = df_ml_all['availability_365'].ravel()

In [43]:
X.columns

Index(['number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value'],
      dtype='object')

In [44]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Creating StandardScaler instance.
scaler = StandardScaler()

# Fitting StandardScaler.
X_scaler = scaler.fit(X_train)

# Scaling data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
regressor = RandomForestRegressor(n_estimators = 500, random_state = 0)
regressor.fit(X_train_scaled, y_train)
#predict the model
prediction = regressor.predict(X_test_scaled)

In [46]:
# print the metrics
print("MSE:", mean_squared_error(y_test, prediction, squared=False))

print("R2:", r2_score(y_test, prediction))

MSE: 124.93122655446258
R2: -0.0182980351099582

In [47]:
# Calculate feature importance.
importances = regressor.feature_importances_

# Sort the features by their importance.
sorted(zip(regressor.feature_importances_, X.columns), reverse=True)

[(0.15561980578034934, 'number_of_reviews'),
 (0.1384452273749943, 'review_scores_value'),
 (0.1323999437627189, 'review_scores_location'),
 (0.13156947079719564, 'review_scores_cleanliness'),
 (0.11835924211331303, 'review_scores_rating'),
 (0.1160356125720984, 'review_scores_accuracy'),
 (0.1114918665086645, 'review_scores_checkin'),
 (0.09607883109066587, 'review_scores_communication')]