In [44]:
import pandas as pd
import hvplot.pandas
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, mean_squared_error, r2_score

In [2]:
df3=pd.read_csv("./Resources/cleaned_data_SD_final.csv", encoding='utf-8')
df3=df3.iloc[: , 1:]
df3.head()

,listing_url,last_scraped,host_since,zipcode,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities_cat,...,0.75_revenue,revenue_cat,0.25_revenue_acc,0.5_revenue_acc,0.75_revenue_acc,revenue_cat_acc,0.25_price_bedcat,0.5_price_bedcat,0.75_price_bedcat,price_cat
0,https://www.airbnb.com/rooms/542822559960498876,2023-03-25,2015-07-16,92109.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,>75th,2894.583333,8824.5,15303.5,>75th,85.0,120.0,164.0,>75th
1,https://www.airbnb.com/rooms/49634069,2023-03-25,2021-05-06,92109.0,Entire home/apt,4,1.0,1.0,2.0,moderate,...,36127.5,>75th,2894.583333,8824.5,15303.5,50th-75th,85.0,120.0,164.0,>75th
2,https://www.airbnb.com/rooms/50448428,2023-03-25,2012-06-17,92109.0,Entire home/apt,4,1.0,1.0,1.0,basic,...,36127.5,>75th,2894.583333,8824.5,15303.5,>75th,85.0,120.0,164.0,>75th
3,https://www.airbnb.com/rooms/44697260,2023-03-25,2014-03-30,92107.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,25th-50th,2894.583333,8824.5,15303.5,25th-50th,85.0,120.0,164.0,>75th
4,https://www.airbnb.com/rooms/44697268,2023-03-25,2014-03-30,92107.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,50th-75th,2894.583333,8824.5,15303.5,25th-50th,85.0,120.0,164.0,>75th

In [3]:
df3["zipcode"]=df3["zipcode"].astype(object)
df3

,listing_url,last_scraped,host_since,zipcode,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities_cat,...,0.75_revenue,revenue_cat,0.25_revenue_acc,0.5_revenue_acc,0.75_revenue_acc,revenue_cat_acc,0.25_price_bedcat,0.5_price_bedcat,0.75_price_bedcat,price_cat
0,https://www.airbnb.com/rooms/542822559960498876,2023-03-25,2015-07-16,92109.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,>75th,2894.583333,8824.500000,15303.5,>75th,85.0,120.0,164.0,>75th
1,https://www.airbnb.com/rooms/49634069,2023-03-25,2021-05-06,92109.0,Entire home/apt,4,1.0,1.0,2.0,moderate,...,36127.5,>75th,2894.583333,8824.500000,15303.5,50th-75th,85.0,120.0,164.0,>75th
2,https://www.airbnb.com/rooms/50448428,2023-03-25,2012-06-17,92109.0,Entire home/apt,4,1.0,1.0,1.0,basic,...,36127.5,>75th,2894.583333,8824.500000,15303.5,>75th,85.0,120.0,164.0,>75th
3,https://www.airbnb.com/rooms/44697260,2023-03-25,2014-03-30,92107.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,25th-50th,2894.583333,8824.500000,15303.5,25th-50th,85.0,120.0,164.0,>75th
4,https://www.airbnb.com/rooms/44697268,2023-03-25,2014-03-30,92107.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,50th-75th,2894.583333,8824.500000,15303.5,25th-50th,85.0,120.0,164.0,>75th
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,https://www.airbnb.com/rooms/53201577,2023-03-25,2016-01-25,92107.0,Entire home/apt,16,7.0,8.0,11.0,moderate,...,277648.0,50th-75th,4131.666667,8871.166667,17546.0,50th-75th,744.0,1019.0,1727.0,50th-75th
10734,https://www.airbnb.com/rooms/53193767,2023-03-25,2021-10-28,92037.0,Entire home/apt,16,7.0,10.0,13.0,basic,...,277648.0,<25th,4131.666667,8871.166667,17546.0,<25th,744.0,1019.0,1727.0,>75th
10735,https://www.airbnb.com/rooms/714482450713596663,2023-03-25,2011-09-20,92102.0,Entire home/apt,16,7.0,11.0,28.0,moderate,...,277648.0,50th-75th,4131.666667,8871.166667,17546.0,50th-75th,744.0,1019.0,1727.0,>75th
10736,https://www.airbnb.com/rooms/811514787237852543,2023-03-25,2011-09-20,92102.0,Entire home/apt,16,7.0,11.0,26.0,moderate,...,277648.0,25th-50th,4131.666667,8871.166667,17546.0,25th-50th,744.0,1019.0,1727.0,50th-75th
10737,https://www.airbnb.com/rooms/40504870,2023-03-25,2015-09-04,92103.0,Entire home/apt,16,7.0,11.0,18.0,basic,...,277648.0,>75th,4131.666667,8871.166667,17546.0,>75th,744.0,1019.0,1727.0,50th-75th

In [4]:
df3=df3.drop(columns="amenities_count")
df3

,listing_url,last_scraped,host_since,zipcode,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities_cat,...,0.75_revenue,revenue_cat,0.25_revenue_acc,0.5_revenue_acc,0.75_revenue_acc,revenue_cat_acc,0.25_price_bedcat,0.5_price_bedcat,0.75_price_bedcat,price_cat
0,https://www.airbnb.com/rooms/542822559960498876,2023-03-25,2015-07-16,92109.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,>75th,2894.583333,8824.500000,15303.5,>75th,85.0,120.0,164.0,>75th
1,https://www.airbnb.com/rooms/49634069,2023-03-25,2021-05-06,92109.0,Entire home/apt,4,1.0,1.0,2.0,moderate,...,36127.5,>75th,2894.583333,8824.500000,15303.5,50th-75th,85.0,120.0,164.0,>75th
2,https://www.airbnb.com/rooms/50448428,2023-03-25,2012-06-17,92109.0,Entire home/apt,4,1.0,1.0,1.0,basic,...,36127.5,>75th,2894.583333,8824.500000,15303.5,>75th,85.0,120.0,164.0,>75th
3,https://www.airbnb.com/rooms/44697260,2023-03-25,2014-03-30,92107.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,25th-50th,2894.583333,8824.500000,15303.5,25th-50th,85.0,120.0,164.0,>75th
4,https://www.airbnb.com/rooms/44697268,2023-03-25,2014-03-30,92107.0,Entire home/apt,4,1.0,1.0,2.0,basic,...,36127.5,50th-75th,2894.583333,8824.500000,15303.5,25th-50th,85.0,120.0,164.0,>75th
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,https://www.airbnb.com/rooms/53201577,2023-03-25,2016-01-25,92107.0,Entire home/apt,16,7.0,8.0,11.0,moderate,...,277648.0,50th-75th,4131.666667,8871.166667,17546.0,50th-75th,744.0,1019.0,1727.0,50th-75th
10734,https://www.airbnb.com/rooms/53193767,2023-03-25,2021-10-28,92037.0,Entire home/apt,16,7.0,10.0,13.0,basic,...,277648.0,<25th,4131.666667,8871.166667,17546.0,<25th,744.0,1019.0,1727.0,>75th
10735,https://www.airbnb.com/rooms/714482450713596663,2023-03-25,2011-09-20,92102.0,Entire home/apt,16,7.0,11.0,28.0,moderate,...,277648.0,50th-75th,4131.666667,8871.166667,17546.0,50th-75th,744.0,1019.0,1727.0,>75th
10736,https://www.airbnb.com/rooms/811514787237852543,2023-03-25,2011-09-20,92102.0,Entire home/apt,16,7.0,11.0,26.0,moderate,...,277648.0,25th-50th,4131.666667,8871.166667,17546.0,25th-50th,744.0,1019.0,1727.0,50th-75th
10737,https://www.airbnb.com/rooms/40504870,2023-03-25,2015-09-04,92103.0,Entire home/apt,16,7.0,11.0,18.0,basic,...,277648.0,>75th,4131.666667,8871.166667,17546.0,>75th,744.0,1019.0,1727.0,50th-75th

In [5]:
df3.dtypes

listing_url                   object
last_scraped                  object
host_since                    object
zipcode                       object
room_type                     object
accommodates                   int64
bathrooms_text               float64
bedrooms                     float64
beds                         float64
amenities_cat                 object
minimum_nights                 int64
maximum_nights                 int64
instant_bookable              object
availability_365               int64
price                        float64
latitude                     float64
longitude                    float64
years_in_business            float64
revenue                      float64
revenue_per_accommodates     float64
0.25_price                   float64
0.5_price                    float64
0.75_price                   float64
outlier                        int64
0.25_acc                     float64
0.5_acc                      float64
0.75_acc                     float64
outlier_2                      int64
0.25_bathroom                float64
0.5_bathroom                 float64
0.75_bathroom                float64
outlier_3                      int64
bedrooms_cat                  object
bathrooms_cat                 object
years_in_business_cat         object
expected_annual_occupency     object
0.25_revenue                 float64
0.5_revenue                  float64
0.75_revenue                 float64
revenue_cat                   object
0.25_revenue_acc             float64
0.5_revenue_acc              float64
0.75_revenue_acc             float64
revenue_cat_acc               object
0.25_price_bedcat            float64
0.5_price_bedcat             float64
0.75_price_bedcat            float64
price_cat                     object
dtype: object

In [6]:
# Transform the categorical columns using get_dummies
categorical_columns_2=df3.dtypes[df3.dtypes=="object"].index.tolist()
categorical_columns_2.remove("listing_url")
categorical_columns_2.remove("last_scraped")
categorical_columns_2.remove("host_since")
categorical_dummies_2 = pd.get_dummies(df3[categorical_columns_2])

# Display the transformed data
categorical_dummies_2

C:\Users\nkananizadeh\Anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

,zipcode_2037.0,zipcode_22000.0,zipcode_91239.0,zipcode_91902.0,zipcode_91910.0,zipcode_91911.0,zipcode_91913.0,zipcode_91914.0,zipcode_91915.0,zipcode_91932.0,...,revenue_cat_<25th,revenue_cat_>75th,revenue_cat_acc_25th-50th,revenue_cat_acc_50th-75th,revenue_cat_acc_<25th,revenue_cat_acc_>75th,price_cat_25th-50th,price_cat_50th-75th,price_cat_<25th,price_cat_>75th
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
10734,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
10735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
10736,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
10737,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0

In [7]:
# the numeric columns
numeric_columns_2=df3.dtypes[df3.dtypes!="object"].index.tolist()
# have to remove the id, lat and long, etc. columns out
data_2=df3[numeric_columns_2].loc[:,~df3[numeric_columns_2].columns.isin(["listing_url","host_since","last_scraped","latitude","longitude",
                                                                    "0.25_price","0.5_price","0.75_price",
                                                                    "0.25_price_bedcat","0.5_price_bedcat","0.75_price_bedcat",
                                                                    "0.25_acc","0.5_acc","0.75_acc",
                                                                    "0.25_bathroom","0.5_bathroom","0.75_bathroom",
                                                                    "0.25_revenue","0.5_revenue","0.75_revenue",
                                                                    "0.25_revenue_acc","0.5_revenue_acc","0.75_revenue_acc",
                                                                    "outlier", "outlier_2","outlier_3",
                                                                    "bedrooms", "bathrooms_text", "years_in_business"
                                                                    ])]
data_2

,accommodates,beds,minimum_nights,maximum_nights,availability_365,price,revenue,revenue_per_accommodates
0,4,2.0,1,365,92,309.0,84357.0,21089.2500
1,4,2.0,3,31,172,306.0,59058.0,14764.5000
2,4,1.0,3,14,0,304.0,110960.0,27740.0000
3,4,2.0,1,1125,313,302.0,15704.0,3926.0000
4,4,2.0,1,1125,277,302.0,26576.0,6644.0000
...,...,...,...,...,...,...,...,...
10733,16,11.0,3,365,209,1570.0,244920.0,15307.5000
10734,16,13.0,3,365,364,2906.0,2906.0,181.6250
10735,16,28.0,3,365,270,1752.0,166440.0,10402.5000
10736,16,26.0,3,15,283,1639.0,134398.0,8399.8750
10737,16,18.0,2,28,176,1595.0,301455.0,18840.9375

In [8]:
# combining the numeric and categorical columns
df_dummies_2=pd.concat([data_2.reset_index(drop=True),categorical_dummies_2.reset_index(drop=True)], axis=1)
df_dummies_2

,accommodates,beds,minimum_nights,maximum_nights,availability_365,price,revenue,revenue_per_accommodates,zipcode_2037.0,zipcode_22000.0,...,revenue_cat_<25th,revenue_cat_>75th,revenue_cat_acc_25th-50th,revenue_cat_acc_50th-75th,revenue_cat_acc_<25th,revenue_cat_acc_>75th,price_cat_25th-50th,price_cat_50th-75th,price_cat_<25th,price_cat_>75th
0,4,2.0,1,365,92,309.0,84357.0,21089.2500,0,0,...,0,1,0,0,0,1,0,0,0,1
1,4,2.0,3,31,172,306.0,59058.0,14764.5000,0,0,...,0,1,0,1,0,0,0,0,0,1
2,4,1.0,3,14,0,304.0,110960.0,27740.0000,0,0,...,0,1,0,0,0,1,0,0,0,1
3,4,2.0,1,1125,313,302.0,15704.0,3926.0000,0,0,...,0,0,1,0,0,0,0,0,0,1
4,4,2.0,1,1125,277,302.0,26576.0,6644.0000,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,16,11.0,3,365,209,1570.0,244920.0,15307.5000,0,0,...,0,0,0,1,0,0,0,1,0,0
10734,16,13.0,3,365,364,2906.0,2906.0,181.6250,0,0,...,1,0,0,0,1,0,0,0,0,1
10735,16,28.0,3,365,270,1752.0,166440.0,10402.5000,0,0,...,0,0,0,1,0,0,0,0,0,1
10736,16,26.0,3,15,283,1639.0,134398.0,8399.8750,0,0,...,0,0,1,0,0,0,0,1,0,0
10737,16,18.0,2,28,176,1595.0,301455.0,18840.9375,0,0,...,0,1,0,0,0,1,0,1,0,0

# Deep learning
Target: price

In [9]:
# check the columns
for i in df_dummies_2.columns:
    print(i)

accommodates
beds
minimum_nights
maximum_nights
availability_365
price
revenue
revenue_per_accommodates
zipcode_2037.0
zipcode_22000.0
zipcode_91239.0
zipcode_91902.0
zipcode_91910.0
zipcode_91911.0
zipcode_91913.0
zipcode_91914.0
zipcode_91915.0
zipcode_91932.0
zipcode_91941.0
zipcode_91942.0
zipcode_91945.0
zipcode_91950.0
zipcode_91977.0
zipcode_92014.0
zipcode_92017.0
zipcode_92018.0
zipcode_92025.0
zipcode_92027.0
zipcode_92029.0
zipcode_92037.0
zipcode_92039.0
zipcode_92071.0
zipcode_92075.0
zipcode_92091.0
zipcode_92093.0
zipcode_92101.0
zipcode_92102.0
zipcode_92103.0
zipcode_92104.0
zipcode_92105.0
zipcode_92106.0
zipcode_92107.0
zipcode_92108.0
zipcode_92109.0
zipcode_92110.0
zipcode_92111.0
zipcode_92112.0
zipcode_92113.0
zipcode_92114.0
zipcode_92115.0
zipcode_92116.0
zipcode_92117.0
zipcode_92119.0
zipcode_92120.0
zipcode_92121.0
zipcode_92122.0
zipcode_92123.0
zipcode_92124.0
zipcode_92126.0
zipcode_92127.0
zipcode_92128.0
zipcode_92129.0
zipcode_92130.0
zipcode_92131.0
zipcode_92133.0
zipcode_92134.0
zipcode_92136.0
zipcode_92139.0
zipcode_92140.0
zipcode_92145.0
zipcode_92147.0
zipcode_92154.0
zipcode_92161.0
zipcode_92163.0
zipcode_92168.0
zipcode_92173.0
zipcode_92182.0
room_type_Entire home/apt
room_type_Hotel room
room_type_Private room
room_type_Shared room
amenities_cat_basic
amenities_cat_luxury
amenities_cat_moderate
instant_bookable_f
instant_bookable_t
bedrooms_cat_1.0
bedrooms_cat_2.0
bedrooms_cat_3.0
bedrooms_cat_4.0
bedrooms_cat_5.0
bedrooms_cat_>=6
bathrooms_cat_1
bathrooms_cat_2
bathrooms_cat_3
bathrooms_cat_4
bathrooms_cat_5
bathrooms_cat_>=6
years_in_business_cat_ 0
years_in_business_cat_ 1-5
years_in_business_cat_ 6-10
years_in_business_cat_>10
expected_annual_occupency_ 0-10
expected_annual_occupency_ 1-2 month
expected_annual_occupency_ 10 days- 1 month
expected_annual_occupency_ 10-11 month
expected_annual_occupency_ 11-12 month
expected_annual_occupency_ 2-3 month
expected_annual_occupency_ 3-4 month
expected_annual_occupency_ 4-5 month
expected_annual_occupency_ 5-6 month
expected_annual_occupency_ 6-7 month
expected_annual_occupency_ 7-8 month
expected_annual_occupency_ 9-10 month
expected_annual_occupency_completely booked
revenue_cat_25th-50th
revenue_cat_50th-75th
revenue_cat_<25th
revenue_cat_>75th
revenue_cat_acc_25th-50th
revenue_cat_acc_50th-75th
revenue_cat_acc_<25th
revenue_cat_acc_>75th
price_cat_25th-50th
price_cat_50th-75th
price_cat_<25th
price_cat_>75th

In [10]:
#defining features, some rows have to be removed due to nans. This steps will be taken in the next cells
X1=df_dummies_2.drop(columns=["revenue","revenue_per_accommodates","availability_365","price",
                              "price_cat_<25th","price_cat_25th-50th","price_cat_50th-75th","price_cat_>75th",
                              "revenue_cat_<25th","revenue_cat_25th-50th","revenue_cat_50th-75th","revenue_cat_>75th",
                              "revenue_cat_acc_<25th","revenue_cat_acc_25th-50th","revenue_cat_acc_50th-75th","revenue_cat_acc_>75th"
                                     ])

# check the features columns
for i in X1.columns:
    print(i)

accommodates
beds
minimum_nights
maximum_nights
zipcode_2037.0
zipcode_22000.0
zipcode_91239.0
zipcode_91902.0
zipcode_91910.0
zipcode_91911.0
zipcode_91913.0
zipcode_91914.0
zipcode_91915.0
zipcode_91932.0
zipcode_91941.0
zipcode_91942.0
zipcode_91945.0
zipcode_91950.0
zipcode_91977.0
zipcode_92014.0
zipcode_92017.0
zipcode_92018.0
zipcode_92025.0
zipcode_92027.0
zipcode_92029.0
zipcode_92037.0
zipcode_92039.0
zipcode_92071.0
zipcode_92075.0
zipcode_92091.0
zipcode_92093.0
zipcode_92101.0
zipcode_92102.0
zipcode_92103.0
zipcode_92104.0
zipcode_92105.0
zipcode_92106.0
zipcode_92107.0
zipcode_92108.0
zipcode_92109.0
zipcode_92110.0
zipcode_92111.0
zipcode_92112.0
zipcode_92113.0
zipcode_92114.0
zipcode_92115.0
zipcode_92116.0
zipcode_92117.0
zipcode_92119.0
zipcode_92120.0
zipcode_92121.0
zipcode_92122.0
zipcode_92123.0
zipcode_92124.0
zipcode_92126.0
zipcode_92127.0
zipcode_92128.0
zipcode_92129.0
zipcode_92130.0
zipcode_92131.0
zipcode_92133.0
zipcode_92134.0
zipcode_92136.0
zipcode_92139.0
zipcode_92140.0
zipcode_92145.0
zipcode_92147.0
zipcode_92154.0
zipcode_92161.0
zipcode_92163.0
zipcode_92168.0
zipcode_92173.0
zipcode_92182.0
room_type_Entire home/apt
room_type_Hotel room
room_type_Private room
room_type_Shared room
amenities_cat_basic
amenities_cat_luxury
amenities_cat_moderate
instant_bookable_f
instant_bookable_t
bedrooms_cat_1.0
bedrooms_cat_2.0
bedrooms_cat_3.0
bedrooms_cat_4.0
bedrooms_cat_5.0
bedrooms_cat_>=6
bathrooms_cat_1
bathrooms_cat_2
bathrooms_cat_3
bathrooms_cat_4
bathrooms_cat_5
bathrooms_cat_>=6
years_in_business_cat_ 0
years_in_business_cat_ 1-5
years_in_business_cat_ 6-10
years_in_business_cat_>10
expected_annual_occupency_ 0-10
expected_annual_occupency_ 1-2 month
expected_annual_occupency_ 10 days- 1 month
expected_annual_occupency_ 10-11 month
expected_annual_occupency_ 11-12 month
expected_annual_occupency_ 2-3 month
expected_annual_occupency_ 3-4 month
expected_annual_occupency_ 4-5 month
expected_annual_occupency_ 5-6 month
expected_annual_occupency_ 6-7 month
expected_annual_occupency_ 7-8 month
expected_annual_occupency_ 9-10 month
expected_annual_occupency_completely booked

In [11]:
nn_data=pd.concat([X1.reset_index(drop=True),pd.DataFrame(df3["price"]).reset_index(drop=True)], axis=1).dropna()
nn_data

,accommodates,beds,minimum_nights,maximum_nights,zipcode_2037.0,zipcode_22000.0,zipcode_91239.0,zipcode_91902.0,zipcode_91910.0,zipcode_91911.0,...,expected_annual_occupency_ 11-12 month,expected_annual_occupency_ 2-3 month,expected_annual_occupency_ 3-4 month,expected_annual_occupency_ 4-5 month,expected_annual_occupency_ 5-6 month,expected_annual_occupency_ 6-7 month,expected_annual_occupency_ 7-8 month,expected_annual_occupency_ 9-10 month,expected_annual_occupency_completely booked,price
0,4,2.0,1,365,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,309.0
1,4,2.0,3,31,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,306.0
2,4,1.0,3,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,304.0
3,4,2.0,1,1125,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,302.0
4,4,2.0,1,1125,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,302.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,16,11.0,3,365,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1570.0
10734,16,13.0,3,365,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2906.0
10735,16,28.0,3,365,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1752.0
10736,16,26.0,3,15,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1639.0
10737,16,18.0,2,28,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1595.0

In [12]:
X=nn_data.drop("price", axis=1)
X

,accommodates,beds,minimum_nights,maximum_nights,zipcode_2037.0,zipcode_22000.0,zipcode_91239.0,zipcode_91902.0,zipcode_91910.0,zipcode_91911.0,...,expected_annual_occupency_ 10-11 month,expected_annual_occupency_ 11-12 month,expected_annual_occupency_ 2-3 month,expected_annual_occupency_ 3-4 month,expected_annual_occupency_ 4-5 month,expected_annual_occupency_ 5-6 month,expected_annual_occupency_ 6-7 month,expected_annual_occupency_ 7-8 month,expected_annual_occupency_ 9-10 month,expected_annual_occupency_completely booked
0,4,2.0,1,365,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,4,2.0,3,31,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,4,1.0,3,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,2.0,1,1125,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2.0,1,1125,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,16,11.0,3,365,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10734,16,13.0,3,365,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10735,16,28.0,3,365,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10736,16,26.0,3,15,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10737,16,18.0,2,28,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
#defining target
y=nn_data["price"]

y

0         309.0
1         306.0
2         304.0
3         302.0
4         302.0
          ...
10733    1570.0
10734    2906.0
10735    1752.0
10736    1639.0
10737    1595.0
Name: price, Length: 10627, dtype: float64

In [14]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
#Scaling the data
X_train_scale=StandardScaler().fit_transform(X_train)
X_test_scale=StandardScaler().fit_transform(X_test)

In [16]:
X_test_scale

array([[ 1.51741359,  1.50742518, -0.18985404, ..., -0.26796109,
        -0.21172846, -0.47908597],
       [-1.26247694, -0.84250952, -0.35252486, ..., -0.26796109,
        -0.21172846, -0.47908597],
       [-0.95360022, -0.84250952, -0.35252486, ..., -0.26796109,
        -0.21172846, -0.47908597],
       ...,
       [-0.33584677, -0.37252258, -0.02718323, ..., -0.26796109,
        -0.21172846,  2.08730804],
       [-0.33584677, -0.37252258, -0.35252486, ..., -0.26796109,
        -0.21172846, -0.47908597],
       [ 1.51741359,  1.97741213, -0.08140683, ..., -0.26796109,
        -0.21172846, -0.47908597]])

In [17]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['exponential', 'gelu', 'relu', 'linear'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=50,
        max_value=100,
        step=2), activation=activation, input_dim=len(X_train_scale[0]), kernel_initializer='he_uniform'))


    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 4)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=50,
            max_value=100,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(1, activation="linear"))

    # Compile the model
    nn_model.compile(loss="mean_squared_error", optimizer='Adam', metrics=["mean_squared_error"])
    
    return nn_model

In [18]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="mean_squared_error",
    max_epochs=20,
    hyperband_iterations=2)

In [19]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scale,y_train,epochs=20,validation_data=(X_test_scale,y_test))

Trial 45 Complete [00h 00m 39s]
mean_squared_error: 11067.107421875

Best mean_squared_error So Far: 7736.76904296875
Total elapsed time: 00h 10m 32s
INFO:tensorflow:Oracle triggered exit

In [23]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'gelu',
 'first_units': 94,
 'num_layers': 4,
 'units_0': 86,
 'units_1': 80,
 'units_2': 94,
 'units_3': 52,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [30]:
# Evaluate the model using the test data
best_model = tuner.get_best_models(1)[0]
predictions=best_model.predict(X_test_scale)
predictions

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.iter
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.decay
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.learning_rate
84/84 [==============================] - 1s 3ms/step

array([[ 595.15326 ],
       [  55.828186],
       [  96.50212 ],
       ...,
       [ 267.10233 ],
       [ 142.43634 ],
       [1109.3103  ]], dtype=float32)

In [31]:
model_loss, model_accuracy = best_model.evaluate(X_test_scale,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

84/84 - 1s - loss: 21310.8340 - mean_squared_error: 21310.8340 - 967ms/epoch - 12ms/step
Loss: 21310.833984375, Accuracy: 21310.833984375

In [42]:
y_test_reshaped=y_test.values.reshape(-1,1)
y_test_reshaped

array([[698.],
       [ 60.],
       [ 90.],
       ...,
       [228.],
       [127.],
       [612.]])

In [45]:
print("MSE:",mean_squared_error(y_test_reshaped, predictions))

print("R2:", r2_score(y_test_reshaped, predictions))

MSE: 21310.834642707046
R2: 0.6858206309055674