In [1]:
# Import dependencies.

In [2]:
# Read in CSV file with the zip codes included.

In [3]:
# Preview columns.

In [4]:
# Remove unnecessary symbols from the 'amenities' column and split up each amenity for each listing.

In [5]:
#

In [6]:
# Count the number of amenities for each listing and add that number to the 'amenities_count' column.

In [7]:
#

In [8]:
#

In [9]:
#

In [10]:
#

In [11]:
#

In [12]:
#

In [13]:
#

In [14]:
# Remove all wording from bathroom information. Replace half bathrooms with 0.5.

#

In [15]:
#

In [16]:
# Convert 'zipcode' column to object data type.

In [17]:
#

In [18]:
#

In [19]:
#

In [20]:
# Converting the 'host_since' and 'last_scraped' columns' data type from object to date.

# Create a 'years_in_business' column using the two columns mentioned above.

In [21]:
# Remove unnecessary symbols from the 'price' column and convert its data type to float.

In [22]:
# Calculating the revenue and revenue per person for each listing using the yearly availability data.

In [23]:
#

In [24]:
#

In [25]:
#

In [26]:
#

In [27]:
#

In [28]:
#

In [29]:
# Draw the boxplot for price vs. bedrooms.

In [30]:
#

In [31]:
# Draw the boxplot for bedrooms vs. accommodates.

In [32]:
#

In [33]:
# Draw the boxplot for price vs. bathrooms.

In [34]:
#

In [35]:
#

In [36]:
# Get the value counts for each number of bedrooms in the dataframe.

In [37]:
#

In [38]:
#

In [39]:
#

In [40]:
# Use the PCA model with `fit_transform` to reduce to three principal components.

# Print the explained variance ratio for each principal component.

In [41]:
#

In [42]:
#

In [43]:
# Preview columns of the scaled dataframe with the dummies data.

In [44]:
#

In [45]:
#

In [46]:
#

In [47]:
#

In [48]:
#

In [49]:
#

In [50]:
# Print a concise summary of the dataframe.

In [51]:
# Create a min and max price summary dataframe for bedroom categories.

In [52]:
#

In [53]:
#

In [54]:
#

In [55]:
#

In [56]:
# Preview dataframe.

In [57]:
# Print a concise summary of the dataframe.

In [58]:
# Get sorted value counts for the categorized bedrooms.

In [59]:
# Get sorted value counts for the categorized bathrooms.

In [60]:
# Get sorted value counts for the categorized years-in-business data.

In [61]:
# Get sorted value counts for the original years-in-business data.